.itc-modal {
    --itc-modal-margin: 0.5rem;
}

.itc-modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    padding-top: 60px;
    background: rgb(0 0 0 / 50%);
    opacity: 0;
    pointer-events: none;
}

.itc-modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    /* margin: var(--itc-modal-margin); */
    margin: 0 auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgb(0 0 0 / 20%);
    border-radius: 0.3rem;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 30%);
    transition: opacity 0.3s ease-in;
}



.itc-modal-show .itc-modal-backdrop,
.itc-modal-show .itc-modal-content {
    z-index: 1050;
    overflow-y: auto;
    opacity: 1;
    pointer-events: auto;
}

.itc-modal-scrollable {
    height: calc(100% - var(--itc-modal-margin) * 2);
    max-height: 100%;
    border: 0;
    width: 100%;
    max-width: 900px;
    border-radius: 16px;
    overflow: hidden;
    background-color: #161615;
}

.itc-modal-body {
    position: relative;
    flex: 1 1 auto;
    /* padding: 1rem; */
    border-radius: 16px;
    overflow-y: hidden;
    overflow-wrap: anywhere;
}


@media (max-width: 744px) {

    .itc-modal-scrollable {
        border-radius: 0;
    }

    .itc-modal-scrollable {
        height: 100%;
    }

    .itc-modal-backdrop {
        padding-top: 0;
    }

    .itc-modal-body {
        border-radius: 0;
    }
}