body {
    margin: 0;

    font-family: Montserrat, sans-serif;
    font-size: 14px;
    color: var(--color-white);
    background-color: #161615;

    -webkit-font-smoothing: antialiased;

}

.container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Main  */

.main section {
    padding-top: 86px;
}

.main__inner-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 16px;
}

/* Main Items  */

.main-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.main-item {
    height: auto;
    max-width: 224px;
    width: 100%;
    margin-right: 3px;
    margin-bottom: 16px;
}

.main-item:nth-child(6n) {
    margin-right: 0;
}

.main-poster img {
    width: 100%;
    height: 324px;
    margin-bottom: 6px;
}

.main-movie-name {
    margin-bottom: 6px;
}

/* Modal */

.modal {
    width: 900px;
    height: 960px;
    border: 0;
    border-radius: 16px;
    overflow: hidden;
    background-color: #161615;

}

.show-modal-btn {
    color: #fff;
}

.close-modal-btn {
    position: absolute;
    z-index: 1;
    color: #fff;
    right: 24px;
    top: 24px;

}

@media (max-width: 744px) {

    /* Header  */
    .header__inner-search {
        display: none;
    }

    .header__inner-logo {
        margin-right: 0;
    }

    .nav {
        display: none;
    }

    /* Main  */

    .main-container {
        justify-content: space-between;
        margin-right: 0;
    }

    .footer {
        display: flex;
    }

    /* Poster  */

    .movie-poster {
        border-radius: 0;

    }

    .movie-poster__inner {
        padding: 20px;
    }

    .movie-poster__inner--buttons--watch {
        justify-content: center;
        width: 568px;
    }

}

@media (max-width: 428px) {

    /* Main  */
    .main-item {
        width: 190px;
        height: 331px;
    }

    .main-poster img {
        width: 100%;
        height: 276px;
    }

    .header__inner__button-item {
        display: none;
    }

    /* Footer  */
    .footer__container {
        justify-content: space-between;
    }

    .footer__item-text {
        font-size: 8px;
        font-weight: 400;
    }

    .footer__item {
        width: 85.6px;
    }

    /* Poster  */

    .movie-poster__inner {
        padding: 16px;
    }

    .movie-poster__inner--buttons--watch {
        width: 260px;
    }
}